# Análise de Dados com Python

### Desafio:

Você trabalha em uma empresa de telecom e tem clientes de vários serviços diferentes, entre os principais: internet e telefone.

O problema é que, analisando o histórico dos clientes dos últimos anos, você percebeu que a empresa está com Churn de mais de 26% dos clientes.

Isso representa uma perda de milhões para a empresa.

O que a empresa precisa fazer para resolver isso?

Base de Dados: https://drive.google.com/drive/folders/1T7D0BlWkNuy_MDpUHuBG44kT80EmRYIs?usp=sharing <br>
Link Original do Kaggle: https://www.kaggle.com/radmirzosimov/telecom-users-dataset

- Passo 1: Importar a base de dados
- Passo 2: Visualizar a base de dados
    - Entender as informações disponpiveis
    - Descobrir os problemas da base de dados
- Passo 3: Tratamento da base de dados
    - Valores que são numeros e estão conhecidos como texto
    - Valores nullos
- Passo 4: Análise inicial (Análise Exploratória) -> ver como estão os cancelamentos
- Passo 5: Olhar cada caracteristica do cliente e ver como aquela caracterìstica impact no cancelamento

In [ ]:
#Passo 1
import pandas as pd
tabela = pd.read_csv('telecom_users.csv')

#Passo 2
display(tabela)

In [ ]:
# Passo 3- cagadas
# Coluna Unnamed sem necessidade

tabela = tabela.drop('Unnamed: 0', axis=1)
display(tabela)

In [9]:
# Ver se tem colunas que era para ser numero e reconhecido como texto
print(tabela.info()) #exibe informações da base de dados
tabela['TotalGasto'] = pd.to_numeric(tabela['TotalGasto'], errors="coerce")


# Coluna codigo com valores NAN
tabela = tabela.dropna(how='all' , axis=1) #remove colunas com todos os arquivos vazios

# Colunas e linhas vazias
tabela = tabela.dropna(how='any' , axis=0) #remove linhas com pelo menos algum valor vazio

print(tabela.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5974 entries, 0 to 5985
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   IDCliente               5974 non-null   object
 1   Genero                  5974 non-null   object
 2   Aposentado              5974 non-null   int64
 3   Casado                  5974 non-null   object
 4   Dependentes             5974 non-null   object
 5   MesesComoCliente        5974 non-null   int64
 6   ServicoTelefone         5974 non-null   object
 7   MultiplasLinhas         5974 non-null   object
 8   ServicoInternet         5974 non-null   object
 9   ServicoSegurancaOnline  5974 non-null   object
 10  ServicoBackupOnline     5974 non-null   object
 11  ProtecaoEquipamento     5974 non-null   object
 12  ServicoSuporteTecnico   5974 non-null   object
 13  ServicoStreamingTV      5974 non-null   object
 14  ServicoFilmes           5974 non-null   object
 15  TipoContrato            5974 non-null   object
 16  FaturaDigital           5974 non-null   object
 17  FormaPagamento          5974 non-null   object
 18  ValorMensal             5974 non-null   float64
 19  TotalGasto              5974 non-null   float64
 20  Churn                   5974 non-null   object
dtypes: float64(2), int64(2), object(17)
memory usage: 1.0+ MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5974 entries, 0 to 5985
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   IDCliente               5974 non-null   object
 1   Genero                  5974 non-null   object
 2   Aposentado              5974 non-null   int64
 3   Casado                  5974 non-null   object
 4   Dependentes             5974 non-null   object
 5   MesesComoCliente        5974 non-null   int64
 6   ServicoTelefone         5974 non-null   object
 7   MultiplasLinhas         5974 non-null   object
 8   ServicoInternet         5974 non-null   object
 9   ServicoSegurancaOnline  5974 non-null   object
 10  ServicoBackupOnline     5974 non-null   object
 11  ProtecaoEquipamento     5974 non-null   object
 12  ServicoSuporteTecnico   5974 non-null   object
 13  ServicoStreamingTV      5974 non-null   object
 14  ServicoFilmes           5974 non-null   object
 15  TipoContrato            5974 non-null   object
 16  FaturaDigital           5974 non-null   object
 17  FormaPagamento          5974 non-null   object
 18  ValorMensal             5974 non-null   float64
 19  TotalGasto              5974 non-null   float64
 20  Churn                   5974 non-null   object
dtypes: float64(2), int64(2), object(17)
memory usage: 1.0+ MB
None

In [14]:
# Passo 4 - Como estão nosso cancelamentos
display(tabela['Churn'].value_counts()) #exibe a soma de valores na coluna Churn
display(tabela['Churn'].value_counts(normalize=True)) #exibe em porcentagem

Nao    4387
Sim    1587
Name: Churn, dtype: int64

Nao    0.734349
Sim    0.265651
Name: Churn, dtype: float64

### Conclusões e Ações

Escreva aqui suas conclusões: